@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: url("../public/font/PPAcma-Book.ttf");
}

body {
  font-family: "Regular";
  background-color: rgb(20, 13, 13);
}
